<mat-toolbar color="primary">
  <span
    >My Contact List
    <span *ngIf="contactList.length > 0"
      >( {{ contactList.length }} )</span
    ></span
  >
</mat-toolbar>
<section class="contact-list">
  <div
    class="contact-details"
    *ngFor="let person of contactList; let index = index"
  >
    <p class="contact-name">{{ person.firstName }} {{ person.lastName }}</p>
    <p>{{ person.age }} years old</p>
    <p>{{ person.birthday.toLocaleDateString() }}</p>
    <p>{{ person.dni }}</p>
    <p>{{ person.gender }}</p>
    <p>{{ person.favColor }}</p>
    <div class="control-buttons">
      <button mat-raised-button (click)="editContact(index)" color="primary">
        Edit
      </button>
      <button mat-raised-button (click)="deleteContact(index)" color="accent">
        Delete
      </button>
    </div>
  </div>
</section>
